<html>

<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
    {{# block "titulo" }}
    {{/block}}
</head>

<body>
  <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/IncidentesCercanos">Incidentes cercanos</a></li>
        <li><a href="/comunidades">Comunidades</a></li>
        <li><a href="/rankings">Rankings</a></li>
        <li><a href="/logout">Cerrar Sesión</a></li>
      </ul>
  </nav>
  <main>
    {{# block "contenido" }}
    {{/block}}
  </main>

</body>

</html>